<div class="card">
  <div class="card-header">
    <h1>Edit Friend</h1>
  </div>
  <div class="card-body">
    <%= render "form", friend: @friend %>
    <br>

    <div>
     <%= link_to "Show this friend", @friend, class: "btn btn-secondary" %>
     <%= link_to "Back to friends", friends_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>
