<% if user_signed_in? %>
<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>User Id</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <%= render friend %>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "New Friend", new_friend_path, class: "btn btn-secondary" %>
<% else %>
  <h1>Sign In To View Friends</h1>
<% end %>
